# markdown
## markdown
### MArkdown
#### markdown

- Python
    - Python 1
    - Python 2
        - Python 1
        - Python 2

- *Python*

- **Python**

- ***Python***

# Print Function():
    -It allows to print specific text or message.

In [2]:
print("hello world")

hello world

In [3]:
print("HELLO,WORLD")

HELLO,WORLD

In [4]:
print("one","two","three")

one two three

# Variable
- store some data values

In [5]:
# single variable assigned to single value
a=10
print(a)

10

In [6]:
# multiple variables assigned to single value
a=b=c=10
print(a,b,c)

10 10 10

In [7]:
# multiple variables assigned to multiple values
a,b,c=10,20,30
print(a,b,c)

10 20 30

# Data Types
- int
- float
- string

In [8]:
#int
a=5
print(a)
print(type(a))

5
<class 'int'>

In [9]:
#float
f=1.2
print(f,type(f))

1.2 <class 'float'>

In [10]:
#string
s="Python"
print(s,type(s))

Python <class 'str'>

# Data Conversions
- integrs --> int
- floating --> float
- string --> str

In [20]:
n=10
print(n,type(n))
f=float(n)
print(f,type(f))
s=str(n)
print(s,type(s))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

In [21]:
f=1.3
print(f,type(f))
n=int(f)
print(n,type(n))
s=str(f)
print(s,type(s))

1.3 <class 'float'>
1 <class 'int'>
1.3 <class 'str'>

In [22]:
s="1234"
print(s,type(s))
f=float(s)
print(f,type(f))
n=int(s)
print(n,type(n))

1234 <class 'str'>
1234.0 <class 'float'>
1234 <class 'int'>

# Input Function:
- takes input from the user

# Exercises

In [23]:
# Display three string “Name”, “Is”, “James” as “Name**Is**James”
print("Name","**","Is","**","James")

Name ** Is ** James

In [24]:
#Write a Python program which accepts the radius of a circle from the user and compute the area .

print("Name**Is**James")

Name**Is**James

In [26]:
# Accept two numbers from the user and return their sum, multiplication and division.
r=int(input("enter radius: "))
area=3.14*r**2
print("area of circle is:",area)

enter radius: 22
area of circle is: 1519.76

In [30]:
#Using input() function, print() function and another function you may need; ask for the current year, then print the answer +50.
a=eval(input("enter 1st no. "))
b=eval(input("enter 2nd no. "))
print("addition is:",a+b,"multiplication is:",a*b,"division is",a/b,sep="\n")

enter 1st no. 2
enter 2nd no. 5
addition is:
7
multiplication is:
10
division is
0.4

In [28]:
year=eval(input("enter 1st no. "))
print("result=",year+50)

enter 1st no. 2000
result= 2050

In [29]:
s="Name"
a="is"
p="James"
print(s,"**",a,"**",p)

Name ** is ** James

In [32]:
a="name",
print(a,type(a))

('name',) <class 'tuple'>